---
layout: wrapper
title: Certifications
---

<ul class="cert-list">
  {% for cert in site.certifications %}
    <li>
      <strong>{{ cert.title }}</strong> – {{ cert.issuer }} ({{ cert.date | date: "%B %Y" }})
      {% if cert.link %}
        – <a href="{{ cert.link }}" target="_blank">Verify</a>
      {% endif %}
      <p>{{ cert.content | markdownify }}</p>

      {% if cert.image %}
        <img src="{{ cert.image | relative_url }}" alt="{{ cert.title }} Certificate" width="400">
      {% endif %}
    </li>
  {% endfor %}
</ul>
